Simulate/src/main/resources/templates/ContainerInfo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           elementFormDefault="qualified">
    <xs:element name="container">
        <xs:complexType>
            <xs:sequence>
                <xs:element  ref="label">
                </xs:element>
                <xs:element ref="args">
                </xs:element>
                <xs:element ref="command">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="label"></xs:element>
    <xs:element name="args"></xs:element>
    <xs:element name="command"></xs:element>
</xs:schema>